.admin-product-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eaeaea;
  font-family: Apercu;

  .image {
    display: flex;
    height: 100px;
    cursor: pointer;
    img {
      height: 100px;
      object-fit: cover;
      display: block;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-left: 20px;

    .header {
      display: flex;
      font-family: ValueSerif;
      font-weight: bold;
      color: #001e42;
      justify-content: space-between;
      align-items: flex-start;
      p {
        margin: 0;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      min-height: 80px;
      justify-content: space-between;
      color: #001e42;
      font-weight: 700;

      .bottom-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .action {
          display: flex;

          p {
            border: 1px solid #001e42;
            padding: 2px 5px;
            cursor: pointer;
          }

          .edit {
            margin-right: 20px;
            width: 100px;
            text-align: center;
            transition: all 0.4s;
            &:hover {
              background: #001e42;
              color: #fff;
            }
          }

          .delete {
            transition: all 0.4s;
            border: 1px solid crimson;
            &:hover {
              background: crimson;
              color: #fff;
            }
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
